<footer>

    Find out more about the English College in Prague on their website, Facebook, Twitter, YouTube and Instagram.
      <a class="social" href="https://www.englishcollege.cz/">
        <i class="fa fa-lg fa-file-text-o"></i>
      </a>
      <a class="social" href="https://www.facebook.com/englishcollege">
        <i class="fa fa-lg fa-facebook"></i>
      </a>
      <a class="social" href="https://twitter.com/ecp_prague">
        <i class="fa fa-lg fa-twitter"></i>
      </a>
      <a class="social" href="https://www.youtube.com/user/TheEnglishCollege">
        <i class="fa fa-lg fa-youtube"></i>
      </a>
      <a class="social" href="https://www.instagram.com/ecp_prague">
        <i class="fa fa-lg fa-instagram"></i>
      </a>
      <p>
        We are grateful for the on-going support of the <a href="https://www.mzv.cz/london/en/index.html">Czech Embassy in London</a>.
      </p>
      <p>
        The English College Foundation is a registered charity in England & Wales (1015053) and a company limited by guarantee registered in England (No. 2677741), with a registered office at 138 Tolmers Road, Cuffley EN6 4JR.
      </p>

</footer>
