<footer>

  Find out more about the English College in Prague on their website, Facebook, Twitter, YouTube and Instagram.
  <a href="https://www.englishcollege.cz/">
    <img src="smiley.gif" alt="ECP Website" style="width:42px;height:42px;border:0;">
  </a>
  <a href="https://www.facebook.com/englishcollege">
    <img src="smiley.gif" alt="ECP Facebook" style="width:42px;height:42px;border:0;">
  </a>
  <a href="https://twitter.com/ecp_prague">
    <img src="smiley.gif" alt="ECP Twitter" style="width:42px;height:42px;border:0;">
  </a>
  <a href="https://www.youtube.com/user/TheEnglishCollege">
    <img src="smiley.gif" alt="ECP Youtube" style="width:42px;height:42px;border:0;">
  </a>
  <a href="https://www.instagram.com/ecp_prague">
    <img src="smiley.gif" alt="ECP Instagram" style="width:42px;height:42px;border:0;">
  </a>
  <p>We are grateful for the on-going support of the <a href="https://www.mzv.cz/london/en/index.html">Czech Embassy in London</a>.</p>
  The English College Foundation is a registered charity in England & Wales (1015053) and a company limited by guarantee registered in England (No. 2677741), with a registered office at 138 Tolmers Road, Cuffley EN6 4JR.

</footer>
