
<h2>OUR WORK</h2>
    <p>If you’re interested in our work and want to support our efforts, why not join as a Member of the English College Foundation?
    As a Member, you will have the opportunity to help shape the future direction of the Foundation and get to attend our events throughout the year, including the Annual General Meeting and garden party.
    Membership is free, please contact XXX to apply.
    We also welcome any donations to help us continue supporting the English College in Prague. Your donation will directly benefit current and future students of the College. We have previously helped to fund bursaries for students from disadvantaged backgrounds, equipment for disabled students and other school initiatives.
    Donations can be made by a secure online payment on our official fundraising page here (LINK TBC).</p>