<h2>Our Work</h2>

<p>Our mission is to support the English College in Prague (ECP) in their efforts to provide high quality English-medium education to young people in Prague.
 
    As a registered charity, we provide guidance, raise funds for bursaries and resources for ECP students and help maintain a network of ECP alumni and friends to continue building the school’s profile.
     
    The English College Foundation was established 1992 by a group of British enthusiasts who wanted to provide an alternative form of education in Prague, as a contribution to the creation of a democratic society following the Velvet Revolution.</p>