<h2>WHO WE ARE</h2>

<h3>Founder Patrons:</h3> 
    <p>HRH The Prince of Wales and President Vaclav Havel</p>

<h3>Current Patrons:</h3>
    <p>HRH The Prince of Wales and Karel Schwarzenberg</p>


<h3>Vice-Presidents:</h3> 
    <p>Lord Kerr and Lord Robertson</p>
 

<h3>Board of Directors:</h3>

    <p>Elizabeth Morris
    Chairman
    Job title?
     
    Dr Martyn Bond
    Job title?
    
    Eva Dvorakova
    Public Relations professional
    ECP Alumna
    
    Janet Gunn
    Job title?
    
    Jakub Kohout
    Treasurer
    ECP Alumnus 
    
    Ann Lewis
    ECP Governor</p>